.thin {
    font-weight: 100 !important;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.bold {
    font-weight: 700 !important;
}

.black {
    font-weight: 900 !important;
}

.primary {
    color: $primary;
}

.p-dark {
    color: $p-dark;
}

.secondary {
    color: $secondary;
}

.platzi {
    color: #85c638;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.title {
    @extend .animated;
    @extend .fadeInUp;
    @extend .medium;
    text-align: center;
    color: $p-dark;
}