@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,700,900|Roboto:100,300,400,500,700');

$fa-font-path: "/webfonts";

$primary: #03A9F4;
$p-dark: #017BB0;
$p-darker: #015C83;
$p-light: #40BAEE;
$p-lighter: #0FAEF3;

$secondary: #009688;
$s-dark: darken(#009688, 10%);
$s-light: lighten(#009688, 10%);

$terciary: #FFB700;
$t-light: #FFCD4D;
$t-dark: #E3A300;

$blanco: #ffffff;
$negro: #000000;
$black: #000000;
$white: #ffffff;
