#about {
    padding: 60px 0;

    .about_section {
        margin: 30px 0;

        .about_title {
            @extend .animated;
            @extend .fadeInUp;
        }

        .about_text {
            @extend .animated;
            @extend .fadeInUp;
            @extend .fast;
        }
    }

    .dev-stack {
        margin: 30px 0;

        .stack {
            @extend .animated;
            @extend .fadeInUp;

            text-align: center;

            .img-logo {
                @extend .mx-auto;
                @extend .d-block;

                max-width: 100px;
                max-height: 128px;
                margin-bottom: 20px;
            }

            .fas,
            .fab,
            .far {
                font-size: 128px;
                margin-bottom: 20px;
            }

            .fa-vuejs {
                color: #42b883;
            }

            .fa-sass {
                color: #cd6799;
            }

            .fa-laravel {
                color: #f05340;
            }

            h3 {
                @extend .bold;
            }

            p {
                @extend .regular;
            }
        }
    }

    .skills {
        color: $s-dark;
    }

}
