@import './variables';
@import './classes';
@import "./font-awesome/fontawesome.scss";
@import "./font-awesome/solid.scss";
@import './animated.scss';
@import './header.scss';
@import './home.scss';
@import './about.scss';
@import './experience.scss';
@import './portfolio.scss';
@import './contact.scss';
@import './blog.scss';

body {

    h1 {
        // font-size: 48.83px !important;
        font-family: 'Barlow', sans-serif;
    }

    h2 {
        // font-size: 39.06px !important;
        font-family: 'Barlow', sans-serif;
    }

    h3 {
        // font-size: 31.25px !important;
        font-family: 'Barlow', sans-serif;
    }

    h4 {
        // font-size: 25px !important;
        font-family: 'Barlow', sans-serif;
    }

    p {
        // font-size: 16px !important;
        font-family: 'Roboto', sans-serif;
    }

    pre {
        white-space: pre-line;
        font-family: 'Barlow', sans-serif !important;
    }

    .carousel {
        margin-bottom: 30px;


        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            @extend %fa-icon;
            @extend .fas;

            background: none !important;
            color: $terciary;
            font-size: 28px;
        }

        .carousel-control-next-icon {
            &:before {
                content: fa-content($fa-var-chevron-right);
            }
        }

        .carousel-control-prev-icon {
            &:before {
                content: fa-content($fa-var-chevron-left);
            }
        }

        .carousel-indicators li {
            background-color: $terciary;
        }

        @media(min-width: 992px) {
            max-width: 350px;
            float: left;
            margin-right: 30px;
        }
    }

    .btn-visit {
        @extend .btn;
        @extend .btn-primary;
        @extend .d-block;
        @extend .border;
        @extend .medium;

        border-color: $secondary !important;
        border-width: 2px !important;
        border-radius: 3px;
        text-transform: none;
        font-size: 16px;

        @media(min-width: 992px) {
            max-width: 370px;
            float: right;
            width: 100%;
        }


        &:hover {
            background-color: $secondary;
            color: $blanco;
            box-shadow: 1px 1px 5px 0px $negro;
        }
    }


    a:hover {
        text-decoration: none !important;
    }

    .fixed-top {
        position: sticky;
        top: -40px;
    }
}

.FileInput--text-input-wrapper>.form-control {
    height: 100% !important;
}
