@import './variables';

.dark-theme {
  background-color: $dark-bg !important;
  color: $dark-text;

  #header {
    background-color: $dark-bg !important;
    color: $dark-text;

    .header-link {
      a {
        color: lighten($color: #017bb0, $amount: .5);
      }
    }
    
    .nav-link {
      color: $dark-text;
    }
  }

  #home .blockquote p > a {
    color: $dark-text;
  }

  .dark-mode-switch {
    a {
      color: $dark-text !important;
    }
  }

  .breadcrumb {
    background: $dark-bg;

    .breadcrumb-item {
      color: $dark-text !important;
    }
  }

  .footer {
    background-color: $dark-bg !important;
    color: $dark-text;
  }
}