#experience {
    .title {
        margin-bottom: 60px;
    }

    .experience-card {
        @extend .animated;
        @extend .fadeInUp;
        @extend .fast;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 1px 1px 10px darken($s-light, 15%);
        transition: all ease 150ms;

        .title {
            text-align: left !important;
            margin-bottom: 0;
            color: $primary !important;

            span {
                color: $s-dark !important;
            }
        }

        .fromTo {
            @extend .regular;
            color: $primary;
            font-size: 16px;
        }

        &:hover {
            box-shadow: 1px 1px 15px darken($s-light, 25%);
        }
    }

    @media(min-width: 768px) {
        padding: 50px 0;
    }
}