#home {
    margin: 30px 0;

    .profilePic {
        @extend .animated;
        @extend .fadeInUp;
        @extend .img-fluid;
        @extend .mx-auto;
        @extend .d-block;

        border-radius: 50%;
        max-width: 280px;
        margin-bottom: 15px;
        border: 5px solid $secondary;
    }

    .hello {
        @extend .animated;
        @extend .fast;
        @extend .fadeInUp;
        text-align: center;
        margin-bottom: 10px;

        span {
            background-color: $s-light;
            color: $blanco;
            padding: 5px 15px;
            margin-bottom: 10px;
            border-top-left-radius: 7px;
            border-bottom-right-radius: 7px;
            box-shadow: 1px 1px 1px $negro;
        }

        @media(min-width: 992px) {
            text-align: left;
        }
    }

    .blockquote {
        @extend .animated;
        @extend .fadeInUp;
        text-align: center;

        p>a {
            color: $black;

            i.fas {
                transition: all ease-in .15s;
            }

            &:hover {
                i.fas {
                    color: $p-dark;
                }

                text-decoration: none;
            }
        }

        @media(min-width: 992px) {
            text-align: left;
        }
    }

    .mainTitle {
        @extend .animated;
        @extend .fadeInUp;
        color: $p-dark;
        font-weight: 700;
        font-size: 42px;
        line-height: .85;
        text-align: center;

        span {
            font-size: 30px;
            font-weight: 300;
        }

        @media(min-width: 992px) {
            text-align: left;
        }
    }

    .mainText {
        font-size: 15px;
        text-align: justify;
    }

    @media(min-width: 768px) {
        padding: 45px 0;
    }

    @media(min-width: 992px) {
        padding: 150px 0;
    }
}
