@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}

.dark-theme {
  @apply dark:bg-neutral-800;
  @apply dark:text-slate-200;
  @apply text-base;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5 {
  @apply dark:text-white;
}

.main-container {
  @apply container;
  @apply mx-auto;
  @apply px-7;
  @apply xl:px-24;
  @apply 2xl:px-48;
}

.blog-main {
  @apply my-10;
}

.blog-main h3 {
  @apply mb-2;
}
.blog-main p,
.blog-main ul {
  @apply mb-5;
}

.blog-main ul {
  @apply list-disc;
  @apply px-10;
}

.blog-main img {
  @apply mx-auto;
}
.blog-main pre {
  @apply mb-5 !important;
}
.blog-main a {
  @apply dark:text-blue-400;
}
.blog-main a.button {
  @apply dark:text-white;
}

.badge-tag {
  font-size: 16px;
  padding: 10px 30px;
  @apply text-black;
}

